
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

    body app {
        position: relative;
        display: flex;
        align-items: stretch;
    }

.app-main {
    width: 100%;
}

.app-content {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 1.5rem !important;
}
